footer.footer
	.footer__inner
		.footer__col
			.footer__icon
				include ../../img/home/phone.svg
			.footer__col-item
				.footer__title Phone:
				a(href="tel:+1(888)764-6763").footer__violet +1(888) 764-6763

		.footer__col
			.footer__icon
				include ../../img/home/mail.svg
			.footer__col-item
				.footer__title I haven't ordered yet.
				a(href="mailto:sales@acemypaper.com").footer__violet sales@acemypaper.com
			.footer__col-item
				.footer__title I have an order in progress.
				a(href="mailto:support@acemypaper.com").footer__violet support@acemypaper.com
			.footer__col-item
				.footer__title I need clarification on payment.
				a(href="mailto:billing@acemypaper.com").footer__violet billing@acemypaper.com

		.footer__col
			ul.footer__list
				li.footer__item
					a(href="#").footer__link About
				li.footer__item
					a(href="#").footer__link Buy original term papers
				li.footer__item
					a(href="#").footer__link Economic term papers
				li.footer__item
					a(href="#").footer__link Term paper help online
				li.footer__item
					a(href="#").footer__link Accounting term papers
		.footer__col
			ul.footer__list
				li.footer__item
					a(href="#").footer__link Buy research papers
				li.footer__item
					a(href="#").footer__link Custom essays
				li.footer__item
					a(href="#").footer__link Write my paper
				li.footer__item
					a(href="#").footer__link Essay writing service
				li.footer__item
					a(href="#").footer__link Academic term papers

		.footer__txt
			.footer__txt-i All model papers provided by mycustomessay.com must be probperly referenced. We do not endorse or encourage any activities that are in violation of applicable law or any university policies.
			.footer__txt-i We use cookies to improve your experience. By continuing to use this website, you agree to the use of cookies. To learn more about our privacy and cookie policy, see <a href="#">Terms of Use</a>.
			.footer__txt-icons
				a(href="#").footer__txt-icon
					include ../../img/home/paypal.svg
				a(href="#").footer__txt-icon
					include ../../img/home/mastercard.svg
				a(href="#").footer__txt-icon
					include ../../img/home/amex.svg
				a(href="#").footer__txt-icon
					include ../../img/home/visa.svg
				a(href="#").footer__txt-icon
					include ../../img/home/discover.svg

	.footer__copyrite
		.footer__copyrite-links
			a(href="#").footer__copyrite-link Terms & Conditions
			a(href="#").footer__copyrite-link Privacy Policy
			a(href="#").footer__copyrite-link Money-Back Policy

		.footer__copyrite-txt © AcemyPaper.com - 2014 - 2020 - All rights reserved.


