header.header
  .header__inner
    .header__logo
      a(href="#")
        img(src="img/home/logo.svg" alt="img")
    .header__menu
      ul.header__list
        li.header__item.has-submenu
          a.header__link(href="javascript:void(0)")
            span Blog
          ul.header__submenu
            li.header__submenu-item.has-submenu-second
              a(href="javascript:void(0)").header__submenu-link
                span Buy original term papers
              .header__submenu-second-wrap
                ul.header__submenu-second
                  li.header__submenu-second-item
                    a(href="#").header__submenu-second-link Buy original term papers
                  li.header__submenu-second-item
                    a(href="#").header__submenu-second-link Economic term papers
            li.header__submenu-item
              a(href="javascript:void(0)").header__submenu-link Economic term papers
            li.header__submenu-item.has-submenu-second
              a(href="javascript:void(0)").header__submenu-link
                span Term paper help online
              .header__submenu-second-wrap
                ul.header__submenu-second
                  li.header__submenu-second-item
                    a(href="#").header__submenu-second-link Buy original term papers
                  li.header__submenu-second-item
                    a(href="#").header__submenu-second-link Economic term papers
            li.header__submenu-item
              a(href="#").header__submenu-link Accounting term papers
            li.header__submenu-item
              a(href="#").header__submenu-link History papers
            li.header__submenu-item
              a(href="#").header__submenu-link Sociology papers
            li.header__submenu-item
              a(href="#").header__submenu-link Buy original term papers
            li.header__submenu-item
              a(href="#").header__submenu-link Economic term papers
            li.header__submenu-item
              a(href="#").header__submenu-link Term paper help online
            li.header__submenu-item
              a(href="#").header__submenu-link Accounting term papers
            li.header__submenu-item
              a(href="#").header__submenu-link History papers
            li.header__submenu-item
              a(href="#").header__submenu-link Sociology papers
            li.header__submenu-item
              a(href="#").header__submenu-link Buy original term papers
            li.header__submenu-item
              a(href="#").header__submenu-link Economic term papers
            li.header__submenu-item
              a(href="#").header__submenu-link Term paper help online
            li.header__submenu-item
              a(href="#").header__submenu-link Accounting term papers
            li.header__submenu-item
              a(href="#").header__submenu-link History papers
            li.header__submenu-item
              a(href="#").header__submenu-link Sociology papers

        li.header__item
          a.header__link(href="javascript:void(0)") Pricing
        li.header__item
          a.header__link(href="javascript:void(0)") Contact

      a.header__login-btn(href="#") Log in

      a.header__btn.site-btn(href="#") Order Now

    .tablet__header
      a.header__btn.site-btn.tablet(href="#") Order Now
      a.header__mobile-menu(href="#")



