header.header
  .header__inner
    .header__logo
      img(src="" alt="img")
    .header__menu
      ul.header__list
        li.header__item
          a.header__link(href="#") Blog
        li.header__item
          a.header__link(href="#") Pricing
        li.header__item
          a.header__link(href="#") Contact

      a.header__login-btn(href="#") Log in

      a.header__btn(href="#") Order Now



